# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
/ClipClient/ClipClient.opensdf
/ClipClient/ClipClient.sdf
/ClipClient/ClipClient.suo
*.log
/ClipClient/*.ini
*.user
Debug
Release
ipch
