# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/ClipClient/Debug
/ClipClient/ipch
/ClipClient/ClipClient.opensdf
/ClipClient/ClipClient.sdf
/ClipClient/ClipClient.suo
/ClipClient/ClipClient.vcxproj.user
/FirstPlugin/Debug
/FirstPlugin/FirstPlugin.vcxproj.user
*.log